<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-----CSS----->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-----FAVICON----->
    <title>Contacte con American Beard</title>
    <link rel="icon" href="../assets/imagenes/imagfavicon.png">
</head>
<body>
<!---------------HEADER----------------->
<header>
    <div class="cajah1">
            <img class="imag-hdr" src="../assets/imagenes/estrellasPNG.png" alt="estrellas europa">
            <h1>AMERICAN BEARD</h1>
        <div class="cajabanderas">
            <img class="imag-hdr" src="../assets/imagenes/alemania.png" alt="bandera de alemania">
            <img class="imag-hdr" src="../assets/imagenes/eeuu.png" alt="bandera de estados unidos">
            <img class="imag-hdr" src="../assets/imagenes/españa.png" alt="bandera de españa">
            <img class="imag-hdr" src="../assets/imagenes/francia.png" alt="bandera de francia">
            <img class="imag-hdr" src="../assets/imagenes/ing.png" alt="bandera de inglaterra, icono inglaterra">
        </div>
    </div>
<!----------------BOTONES DE NAVEGACION EN HEADER----------------->
    <nav class="navigationBar">
        <ul class="navigationBarList">
            <li>
                <a class="enlace " href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="enlace" href="../view/productos.html">Galeria</a>
            </li>
            <li>
                <a class="enlace" href="../view/presupuestos.html">Presupuestos</a>
            </li>
            <li>
                <a  class="enlace active" href="#">Contacto</a>
            </li>
        </ul>
    </nav>
</header>
<!----------------CONTENEDOR INFO CONTACTO CON LA EMPRESA----------------->
<div class="contenedorcontacto">
    <h3 class="textcontac">INFORMACION DE CONTACTO</h3>
    <div class="imagenynombre">
        <img src="../assets/imagenes/imagfavicon.png" alt="barba vector">
        <h3>American Beard</h3>
    </div>
    <div class="datosynumeros">
            <img class="icontelefono" src="../assets/imagenes/imagtelefono.png" alt="icono de telefono">
            <span>Telefono: 603995568</span>
            <img class="iconfax" src="../assets/imagenes/faxvector.png" alt="icono de fax">
            <span>Fax--</span>
            <img class="icondireccionweb" src="../assets/imagenes/sitioweb.png" alt="icono sitio web">
            <span>Sitio web de la compañia</span>
        <a class="paginaweb" href="/index.html">www.americanbeard.com</a>
    </div>
    <div class="ubicacionmap">
        <h3>Ubicacion de la empresa</h3>
        <a href="https://www.google.es/maps/place/Pje.+Hermandad,+02004+Albacete/@38.9905659,-1.8633122,16z/data=!3m1!4b1!4m6!3m5!1s0xd665fc8e2c11f4b:0xf1fcc754063db701!8m2!3d38.9905659!4d-1.8633122!16s%2Fg%2F11xgsz2dz?hl=es&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D">
        <img src="../assets/imagenes/imagubicacion.png" alt="ubicacion en maps">Albacete-españa
        </a>
    </div>
</div>
<!----------------FOOTER----------------->
    <footer class="footer">
        <ul class="social-icon">
            <li class="icon-elem">
                <a class="icon" href="https://www.facebook.com/">
                <img src="../assets/imagenes/logofacebook.png" alt="logo facebook"></a>
            </li>
            <li class="icon-elem">
                <a class="icon" href="https://www.instagram.com/explore/people/?tab=top_accounts">
                <img src="../assets/imagenes/Instagramlogo.png" alt="logo instagram"></a>
            </li>
            <li class="icon-elem">
                <a class="icon" href="https://x.com/?lang=en">
                <img src="../assets/imagenes/twitterlogo.png" alt="logo twtter"></a>
            </li>
            <li class="icon-elem">
                <a class="icon" href="https://www.google.es/maps/place/Pje.+Hermandad,+02004+Albacete/@38.9905659,-1.8633122,16z/data=!4m6!3m5!1s0xd665fc8e2c11f4b:0xf1fcc754063db701!8m2!3d38.9905659!4d-1.8633122!16s%2Fg%2F11xgsz2dz?entry=ttu&g_ep=EgoyMDI1MDEyOS4xIKXMDSoASAFQAw%3D%3D">
                <img src="../assets/imagenes/logoubicacion.png" alt="logo ubicacion"></a>
            </li>
        </ul>
        <p class="text">Año 2024| Todos los derechos reservados | 
        www.americanbeard.com</p>
    </footer>
</body>
</html>