<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-----------CSS------------>
    <link rel="stylesheet" href="../css/estilos.css">
<!------------FAVICON----------->
    <title>GALERIA</title>
    <link rel="icon" href="../assets/imagenes/imagfavicon.png">
</head>
<body>
<!-------------------HEADER----------------------->
<header>
    <div class="cajah1">
            <img class="imag-hdr" src="../assets/imagenes/estrellasPNG.png" alt="estrellas europa">
            <h1>AMERICAN BEARD</h1>
        <div class="cajabanderas">
            <img class="imag-hdr" src="../assets/imagenes/alemania.png" alt="bandera de alemania">
            <img class="imag-hdr" src="../assets/imagenes/eeuu.png" alt="bandera de estados unidos">
            <img class="imag-hdr" src="../assets/imagenes/españa.png" alt="bandera de españa">
            <img class="imag-hdr" src="../assets/imagenes/francia.png" alt="bandera de francia">
            <img class="imag-hdr" src="../assets/imagenes/ing.png" alt="bandera de inglaterra-icono inglaterra-icono">
        </div>
    </div>
<!---------------------BOTONES DE NAVEGACION EN HEADER----------------------->
    <nav class="navigationBar">
        <ul class="navigationBarList">
            <li>
                <a class="enlace" href="../index.html">Inicio</a>
            </li>
            <li>
                <a class="enlace active" href="#">Galeria</a>
            </li>
            <li>
                <a class="enlace" href="../view/presupuestos.html">Presupuestos</a>
            </li>
            <li>
                <a  class="enlace" href="../view/contacto.html">Contacto</a>
            </li>
        </ul>
    </nav>
</header>
    <div class="cajagaleria">
        <div class="cajanatura">
            <div class="cajanatura1">
                <img class="producto" src="../assets/imagenes/beardetiquetaazul.png" alt="producto para la barba">
            </div>
                <p> <strong>ACEITE DE OLIVA</strong> El aceite de oliva actúa como hidratante natural
                frente al pelo dañado o quebradizo, aportándole 
                los nutrientes que necesita y luchando contra la 
                sequedad y falta de brillo. Sus beneficios principales 
                son: Gracias a la vitamina E presente en el aceite de oliva,
                conseguirás un cabello más fuerte y menos quebradizo.
                </p>
            <div class="cajanatura1">
                <img class="olivas" src="../assets/imagenes/olivas01.png" alt="imagen olivaspng-icono olivas">
            </div>
        </div>
        <div class="cajanatura">
            <div class="cajanatura1">
                <img class="menta" src="../assets/imagenes/menta01.png" alt="planta menta-icono planta menta">
            </div>
                <p> <strong>ACEITE DE MENTA</strong> El aceite de menta es ideal para 
                cabellos secos, ya que aporta una 
                gran hidratación y frescura. Además,
                reduce los picores del cuero cabelludo
                gracias a sus ingredientes refrescantes
                y estimula el flujo sanguíneo, por lo
                que nos ayudará a evitar la caída del
                cabello y favorecer el crecimiento.</p>
            <div class="cajanatura1">
                <img class="producto" src="../assets/imagenes/beardetiquetaazul.png" alt="producto para crecimiento de barba">
            </div>
        </div>
        <div class="cajanatura">
            <div class="cajanatura1">
            <img class="producto" src="../assets/imagenes/beardetiquetaazul.png" alt="producto para crecimiento de barba">
            </div>
            <p> <strong>ACEITE DE SANDALO</strong> El aceite de sándalo se incorpora en productos 
                para el cuidado del cabello para mejorar la 
                textura, proporcionar brillo y ayudar a 
                controlar el frizz. Además, estimula el crecimiento del cabello 
                al mejorar la salud del cuero cabelludo.</p>
            <div class="cajanatura1">
            <img class="sandalo" src="../assets/imagenes/sandalo01.png" alt="planta sandalo-icono sandalo-imagen de sandalo">
            </div>
        </div>
    </div>
    <div class="cajatextolab">
        <h3 class="textolab">La fábrica está equipada con equipos de producción
        nacionales avanzados, lo que proporciona una base 
        sólida para la fabricación de productos de alta calidad.
        </h3>
    </div>
    <div class="imagenlab01">
        <img class="imagenlab" src="../assets/imagenes/laboratorio.jpg" alt="laboratorio">
    </div>
    
    
<!-------------------------FOOTER--------------------------->
    <footer class="footer">
        <ul class="social-icon">
            <li class="icon-elem">
                <a class="icon" href="https://www.facebook.com/">
                <img src="../assets/imagenes/logofacebook.png" alt="logo instagram"></a>
            </li>
            <li class="icon-elem">
                <a class="icon" href="https://www.instagram.com/explore/people/?tab=top_accounts">
                <img src="../assets/imagenes/Instagramlogo.png" alt="logo instagram"></a>
            </li>
            <li class="icon-elem">
                <a class="icon" href="https://x.com/?lang=en">
                <img src="../assets/imagenes/twitterlogo.png" alt="logo twtter"></a>
            </li>
            <li class="icon-elem">
                <a class="icon" href="https://www.google.es/maps/place/Pje.+Hermandad,+02004+Albacete/@38.99057,-1.8679256,16z/data=!3m1!4b1!4m6!3m5!1s0xd665fc8e2c11f4b:0xf1fcc754063db701!8m2!3d38.9905659!4d-1.8633122!16s%2Fg%2F11xgsz2dz?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjM0SAFQAw%3D%3D">
                <img src="../assets/imagenes/logoubicacion.png" alt="logo ubicacion"></a>
            </li>
        </ul>
        <p class="text">Año 2024| Todos los derechos reservados | 
        www.americanbeard.com</p>
    </footer>
</body>
</html>